[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-filter = "*"
djangorestframework-simplejwt = "*"
psycopg2-binary = "*"
redis = "*"
celery = "*"
flower = "*"
django-cors-headers = "*"
Pillow = "*"
dj-database-url = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.14"
